<div class="searchbar justify-content-center">
    <!-- <div class="input-group justify-content-center">
        <div id="search-autocomplete" class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
    </div> -->
    <div class="input-group justify-content-center">

        <div class="ng-autocomplete">
            <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Search Item" (selected)='selectEvent($event)' (closed)="autoCompleteClose()" (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.productName"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12 productListing" style="border: 1px solid black;">
        <b><a routerLink="/productDetails">Item Title1</a></b>
        <div class="col-3">
            <div class="itemImageBox" style="border: 1px solid black;"></div>
        </div>
        <div class="col-9">
            <p>Item details...</p>
        </div>
    </div>
    <div class="col-12 productListing" style="border: 1px solid black;">
        <b>Item Title1</b>
        <div class="col-3">
            <div class="itemImageBox" style="border: 1px solid black;"></div>
        </div>
        <div class="col-9">
            <p>Item details...</p>
        </div>
    </div>
    <div class="col-12 productListing" style="border: 1px solid black;">
        <b>Item Title1</b>
        <div class="col-3">
            <div class="itemImageBox" style="border: 1px solid black;"></div>
        </div>
        <div class="col-9">
            <p>Item details...</p>
        </div>
    </div>


</div>