<div class="searchbar justify-content-center">
    <div class="input-group justify-content-center">
        <div id="search-autocomplete" class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
    </div>
</div>

<div class="row cardContainer">

    <div class="col-3 productCards " style="border: 1px solid black;">
        <a routerLink="/productDetails/productListing">Books</a>
    </div>
    <div class="col-1"></div>
    <div class="col-3 productCards" style="border: 1px solid black;">
        <a href="">Sports</a>
    </div>
    <div class="col-1"></div>
    <div class="col-3 productCards" style="border: 1px solid black;">
        <a href="">Electronics</a>
    </div>

</div>

<div class="row cardContainer">

    <div class="col-3 productCards" style="border: 1px solid black;">
        <a href="">Health & Beauty</a>
    </div>
    <div class="col-1"></div>
    <div class="col-3 productCards" style="border: 1px solid black;">
        <a href="">Toys</a>
    </div>
    <div class="col-1"></div>
    <div class="col-3 productCards" style="border: 1px solid black;">
        <a href="">Home & Garden</a>
    </div>

</div>