<div class="row cardContainer">

    <div (click)="searchBook()" class="col-3 productCards " style="border: 1px solid black;">
        <span>Books</span>
    </div>
    <div class="col-1"></div>
    <div class="col-3 productCards" style="border: 1px solid black;">
        <span>Sports</span>
    </div>
    <div class="col-1"></div>
    <div class="col-3 productCards" style="border: 1px solid black;">
        <span>Electronics</span>
    </div>

</div>

<div class="row cardContainer">

    <div class="col-3 productCards" style="border: 1px solid black;">
        <span>Health & Beauty</span>
    </div>
    <div class="col-1"></div>
    <div class="col-3 productCards" style="border: 1px solid black;">
        <span>Toys</span>
    </div>
    <div class="col-1"></div>
    <div class="col-3 productCards" style="border: 1px solid black;">
        <span>Home & Garden</span>
    </div>

</div>