/* You can add global styles to this file, and also import other style files */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .h-custom {
    height: calc(100% - 105px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
} */

.searchbar {
    text-align: center;
    background-color: #a6a3a3;
    padding: 5px;
}

.cardContainer {
    margin: 10px;
    margin-left: 110px;
    margin-top: 50px;
}

.productCards {
    text-align: center;
    padding: 50px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}


/* .content1 {
    padding: 15px;
} */

.productListing {
    text-align: center;
    min-height: 100px;
    /* box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5); */
    border-radius: 7px;
    /* margin-top: 7px; */
    margin-bottom: 3px;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
}

.itemImageBox {
    border-radius: 7px;
    width: 75px;
    height: 75px;
    margin-bottom: 12px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.productMainImage {
    text-align: center;
    padding: 50px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    min-height: 350px;
}

.prodDescription {
    text-align: center;
}

header {
    text-align: center;
    /* min-height: 70px; */
    padding: 5px;
    background-color: hsl(206deg 100% 28.19%);
}

.container {
    min-height: calc(100vh - 52px - 94px);
    background-color: rgb(235 248 255);
    position: relative;
    /* min-height: 100vh; */
}


/* .content {
    overflow: auto;
    padding-bottom: 100px;
    height: 100%;
    background-color: rgb(248 248 245);
} */

.footer {
    /* height: 100px; */
    padding: 35px;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: auto;
    text-align: center;
    background-color: hsl(206deg 100% 28.19%);
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(210, 210, 209);
}

.productDescription {
    padding: 15px 0px 20px 0px;
}

.cart {
    position: absolute;
    right: 0;
}

.myCart {
    text-align: center;
}


/* .listContent {
    padding-left: 12px;
    padding-right: 12px;
} */

.listContainer {
    margin-top: 7px;
}

.priceCol {
    text-align: right;
}

.rowTotPrice {
    text-align: right;
}

.formPosition {
    margin-top: 55px;
}

.signUp {
    max-height: 400px;
}


/* .cartButton{
    align
} */

.nav-background {
    background-color: #394a97;
}